<!-- Navbar and header-->
<div *ngIf="menuItems$ | async as menus; else loading">
    <nav class="bg-primary text-black w-full z-50">
        <div class="text-sm lg:flex-grow flex flex-col md:flex-row pl-4 pr-4 md:flex-wrap">
            <div *ngFor="let item of menus" class="nav-item md:block">
                <a routerLink="{{ item.path }}" routerLinkActive="active"
                    class="menu-item hover:text-purple-500 mr-2 active:font-bold text-center text-[12px]">
                    {{ item.label }}
                </a>
            </div>
        </div>
    </nav>
</div>
<ng-template #loading>
    <h3>Loading ...</h3>
</ng-template>