<div class="pt-2 flex justify-center w-full">
    <form
      class="bg-primary w-[475px] flex flex-col justify-end items-end"
      [formGroup]="contactForm"
    >
      <div class="w-full">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Изберете тема на вашият въпрос</mat-label>
          <mat-select formControlName="topic">
            <mat-option
              *ngFor="let enum of topicLabels | keyvalue"
              [value]="enum.value"
            >
              {{ enum.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="
            contactForm.get('topic')?.touched &&
            contactForm.get('topic')?.errors &&
            contactForm.get('topic')?.hasError('required')
          "
          class="text-red-600"
        >
          Полето е задължително.
        </div>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Коментар</mat-label>
          <textarea
            matInput
            placeholder="Напишете вашето съобщение..."
            formControlName="message"
            class="!resize-none h-[100px]"
          ></textarea>
        </mat-form-field>
        <div
          *ngIf="
            contactForm.get('message')?.touched &&
            contactForm.get('message')?.errors &&
            contactForm.get('message')?.hasError('required')
          "
          class="text-red-600"
        >
          Полето е задължително.
        </div>
      </div>
      <div>
        <button
          type="button"
          (click)="onSubmitButtonClicked()"
          class="bg-secondary border-4 border-primary hover:bg-black hover:text-white h-[45px] w-[100px] transition duration-500 ease-in-out text-[15px] tracking-tighter"
        >
          Изпрати
        </button>
      </div>
    </form>
  </div>
  